<!-- Modal -->
<div class="modal fade" id="exampleModal-edit" tabindex="-1" aria-labelledby="exampleModalLabel-edit" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-edit">Sửa giao dịch</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="updateTransactionForm" (ngSubmit)="updateTransaction()">
      <div class="modal-body">
        <table style="width: 100%; border-spacing: 30px">
          <tr>
            <td class="tdTbale" style="width: 23%">
              <a data-bs-toggle="modal" data-bs-target="#exampleModalCate-edit" style="background: rgba(247,247,247,0.16)">
                <div class="flex-shrink-0">
                  <svg width="20" height="20">
                    <rect width="25" height="25" [ngStyle]="{'fill':color,'stroke-width':'3'}"/>
                  </svg>
                  <span style="margin-left: 10px;">{{nameCategory}}</span>
                </div>
              </a>
            </td>
            <td style="width: 20px"></td>
            <td class="tdTbale">
              <input type="date" id="date" formControlName="time"/>
            </td>
            <td style="width: 20px"></td>
            <td class="tdTbale"> <input type="number" style="border: 1px solid #f1f3f5;" placeholder="Số tiền" formControlName="totalSpent"></td>
            <td style="width: 20px"></td>
            <td class="tdTbale"> <input type="text" style="border: 1px solid #f1f3f5 ;" placeholder="Ghi chú" formControlName="note"></td>
          </tr>
        </table>
      </div>
      <button type="submit" class="btn btn-primary" style="width: 20%; margin-left: 77%;margin-bottom: 10px ;background: #3b76ef">Lưu</button>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCate-edit" tabindex="-1" aria-labelledby="exampleModalLabel1-edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1-edit">Danh mục chi tiêu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tab">
          <button class="tablinks active" onclick="openCity(event, 'collect-edit')" style="width: 50%">Thu</button>
          <button class="tablinks" onclick="openCity(event, 'spend-edit')" style="width: 50%">Chi</button>
        </div>
        <div id="collect-edit" class="tabcontent">
          <table class="table lms_table_active" style="margin-top: 20px">
            <tbody>
            <tr *ngFor = "let incomeCategory of incomeCategoriesUpdate; let i = index;" (click)="getCategory(incomeCategory.id)" data-bs-dismiss="modal" aria-label="Close">
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <svg width="20" height="20">
                      <rect width="25" height="25" [ngStyle]="{'fill':incomeCategory.color,'stroke-width':'3px'}"/>
                    </svg>
                  </div>
                </div>
              </td>
              <td>
                <div class="flex-grow-1 ms-3">
                  <p>{{incomeCategory.name}}</p>
                </div>
              </td>
              <td>
                <p class="nowrap">{{incomeCategory.note}}</p>
              </td>
              <td>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="spend-edit" class="tabcontent">
          <table class="table lms_table_active" style="margin-top: 20px">
            <tbody>
            <tr *ngFor="let expenseCategory of expenseCategoriesUpdate; let i = index;" (click)="getCategory(expenseCategory.id)" data-bs-dismiss="modal" aria-label="Close">
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <svg width="20" height="20">
                      <rect width="25" height="25" [ngStyle]="{'fill':expenseCategory.color,'stroke-width':'3px'}"/>
                    </svg>
                  </div>
                </div>
              </td>
              <td>
                <div class="flex-grow-1 ms-3">
                  <p>{{expenseCategory.name}}</p>
                </div>
              </td>
              <td>
                <p class="nowrap">{{expenseCategory.note}}</p>
              </td>
              <td>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
