<app-side-bar></app-side-bar>
<section class="main_content dashboard_part">
  <app-nav-bar></app-nav-bar>
  <div class="main_content_iner ">
    <div class="container-fluid plr_30 body_white_bg pt_30">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="QA_section">
            <div class="white_box_tittle list_header">
              <h4>Loại chi tiêu</h4>
              <div class="box_right d-flex lms_block">
                <div class="add_button" style="margin-right: 50px">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#addcategory" class="btn_1"><i
                    class="fa-solid fa-folder-plus"></i> Thêm mới</a>
                </div>
              </div>
            </div>
            <div class="QA_table ">
              <table class="table lms_table_active">
                <thead>
                <tr style="text-align: center">
                  <th scope="col">Tên</th>
                  <th scope="col">Ghi chú</th>
                  <th scope="col">Loại</th>
                  <th scope="col">Màu sắc</th>
                  <th scope="col">Sửa</th>
                  <th scope="col">Xóa</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center">
                  <td scope="row"><a href="#" class="question_content"> title here 1</a></td>
                  <td>Category name</td>
                  <td>Loại thu</td>
                  <td>
                    <div class="br" style="height: 5px;background:chartreuse;"></div>
                  </td>
                  <td><a href="#" class="status_btn" style="background: #15c47b">Sửa</a></td>
                  <td><a href="#" class="status_btn" style="background: palevioletred">Xóa</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_part">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="footer_iner text-center">
            <p>2022 © Destroy - <a href="#"> Hủy diệt</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
