/*tab*/
.tab {
  overflow: hidden;
  border: 1px solid #3b76ef;
  background-color: white;
  border-radius: 7px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #eceeef;
}

.tab button.active {
  background-color: #4d84f5;
  color: white;
}

#collect {
  padding: 6px 12px;
  border: 1px solid #3b76ef;
  border-top: none;
  border-radius: 7px;
}

#spend {
  display: none;
  padding: 6px 12px;
  border: 1px solid #3b76ef;
  border-top: none;
  border-radius: 7px;
}

.tdTbale {
  border: 1px solid #6aaaea;
  text-align: center;
}
input[type="date"]{
  background-color: rgba(183, 205, 229, 0.25);
  padding: 8px;
  font-family: "Roboto Mono", monospace;
  color: #676464;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 90%;
  margin-left: 7px;
}
::-webkit-calendar-picker-indicator {
  color: #9d9c9c;
  background-color: #edeef1;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

#date {
  background-color: white;
  padding: 8px;
  font-family: "Roboto Mono", monospace;
  color: rgba(61, 60, 60, 0.96);
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 90%;
  margin-left: 7px;
}
