<form [formGroup]="walletsCreateForm" (ngSubmit)="addWallet()" >
  <div>
    <p>Icon: </p>
    <input type="text" formControlName="icon">
  </div>
  <div>
    <p>Wallet Name: </p>
    <input type="text" formControlName="name">
  </div>
  <div>
    <p>Money Amount: </p>
    <input type="number" formControlName="moneyAmount">
  </div>
  <div>
    <p>Status : </p>
    <select formControlName="status">
      <option [value]="0">Delete</option>
      <option [value]="1">Working</option>
    </select>
  </div>
  <p >Select Money Type</p>
  <select formControlName="moneyType">
<!--    <option *ngFor="let item of listMoneyType" value="{{item.id}}">{{item.name}}</option>-->
    <option [value]="1">VND</option>
    <option [value]="2">Yen</option>
  </select>

  <div>
    <button type="submit">Add</button>
  </div>
</form>
