<app-side-bar></app-side-bar>
<section class="main_content dashboard_part">
  <app-nav-bar></app-nav-bar>
  <div class="main_content_iner" style="margin-top: -30px">
    <div class="container-fluid plr_30 body_white_bg pt_30">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="white_box mb_30">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="modal-content cs_modal">
                  <div class="modal-header">
                    <h5 class="modal-title" style="margin-left: 29%">Thay đổi mật khẩu</h5>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
                      <div class="">
                        <input type="password" class="form-control" placeholder="Mật khẩu cũ" formControlName="oldPassword">
                      </div>
                      <div *ngIf="!oldPassword?.['valid'] && oldPassword?.['touched'] ">
                        <div [hidden]="!oldPassword?.errors?.['required']">
                          <i style="color: red" > Vui lòng nhập mật khẩu cũ</i>
                        </div>
                      </div>
                      <br>
                      <div class="">
                        <input type="password" class="form-control" placeholder="Mật khẩu mới" formControlName="password">
                      </div>
                      <div *ngIf="!password?.['valid'] && (password?.dirty ||password?.['touched'])" >
                        <div [hidden]="!password?.errors?.['required']">
                          <i style="color: red" > Mật khẩu không được để trống</i>
                        </div>
                        <div [hidden]="!password?.errors?.['minlength']">
                          <i style="color: red" > Mật khẩu phải có ít nhất 6 ký tự</i>
                        </div>
                        <div [hidden]="!password?.errors?.['maxlength']">
                          <i style="color: red" > Mật khẩu có tối đa 12 ký tự</i>
                        </div>
                      </div>
                      <br>
                      <div class="">
                        <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" pattern="{{password?.value}}" formControlName="confirmPassword">
                      </div>
                      <div *ngIf="!confirmPassword?.['valid'] && confirmPassword?.['touched'] ">
                        <div [hidden]="!confirmPassword?.errors?.['required']">
                          <i style="color: red" > Vui lòng nhập mật khẩu</i>
                        </div>
                        <div [hidden]="!confirmPassword?.errors?.['pattern']">
                          <i style="color: red">Mật khẩu nhập lại không đúng</i>
                        </div>
                      </div>
                      <button type="submit" class="btn_1 full_width text-center">Cập nhật</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_part">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="footer_iner text-center">
              <p>2022 © Destroy - <a href="#"> Hủy diệt</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
