<app-side-bar></app-side-bar>
<section class="main_content dashboard_part">
  <app-nav-bar></app-nav-bar>
  <div class="main_content_iner" style="margin-top: -30px">
    <div class="container-fluid plr_30 body_white_bg pt_30">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="white_box mb_30">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="modal-content cs_modal">
                  <div class="modal-header">
                    <h5 class="modal-title">Thay đổi mật khẩu</h5>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="">
                        <input type="text" class="form-control" placeholder="tenban@gmail.com">
                      </div>
                      <br>
                      <div class="">
                        <input type="password" class="form-control" placeholder="Mật khẩu cũ">
                      </div>
                      <br>
                      <div class="">
                        <input type="text" class="form-control" placeholder="Mật khẩu mới">
                      </div>
                      <button href="#" class="btn_1 full_width text-center">Lưu</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_part">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="footer_iner text-center">
              <p>2022 © Destroy - <a href="#"> Hủy diệt</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
