<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thêm Ví</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="walletForm" (ngSubmit)="addWallet()" >
        <div class="modal-body">
          <div class="input-group mb-3">
            <a data-bs-toggle="modal" data-bs-target="#exampleModal" style="background: #f7f7f7"><span
              class="input-group-text" id="basic-addon3" style="background: #4694e1; color: #f7f7f7"><img
              src="{{icon}}" style="width: 30px;height: 30px"></span></a>
            <input type="text" class="form-control" placeholder="Tên ví" aria-label="Username"
                   aria-describedby="basic-addon1" style="margin-left: 10px" formControlName="name">
          </div>
          <div class="input-group mb-3" style="margin-top: 30px;margin-left: 15%">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="moneyType" id="flexRadioDefault1"  value="1" formControlName="moneyType" >
              <img src="https://static.moneylover.me/img/flag/ic_currency_vnd.png"
                   style="width: 20px;height: 20px; margin-right: 4px">
              <label class="form-check-label" for="flexRadioDefault1">
                Việt Nam Đồng
              </label>
            </div>
            <div class="form-check" style="margin-left: 50px">
              <input class="form-check-input" type="radio" name="moneyType" id="flexRadioDefault2" checked value="2" formControlName="moneyType">
              <img src="https://static.moneylover.me/img/flag/ic_currency_usd.png"
                   style="width: 20px;height: 20px; margin-right: 5px">
              <label class="form-check-label" for="flexRadioDefault2">
                USD
              </label>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn_1 btn btn-primary" style="background: #4694e1; margin-left: 80%; margin-bottom: 10px">Thêm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chọn Icon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
