input[type="date"]{
  background-color: rgba(183, 205, 229, 0.25);
  padding: 8px;
  font-family: "Roboto Mono", monospace;
  color: #676464;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 90%;
  margin-left: 7px;
}
::-webkit-calendar-picker-indicator {
  color: white;
  background-color: #93cff5;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;

}
