<app-side-bar></app-side-bar>
<section class="main_content dashboard_part">
  <app-nav-bar></app-nav-bar>
  <div class="main_content_iner ">
    <div class="container-fluid plr_30 body_white_bg pt_30">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="QA_section">
            <div class="white_box_tittle list_header">
              <h4>Danh mục chi tiêu</h4>
              <div class="box_right d-flex lms_block">
                <div class="add_button" style="margin-right: 50px">
                  <a href="#" class="btn_1" data-bs-toggle="modal" data-bs-target="#staticBackdrop-category"><i
                    class="fa-solid fa-folder-plus"></i> Thêm mới</a>
                </div>
              </div>
            </div>
            <div class="QA_table ">
              <table class="table lms_table_active">
                <thead>
                <tr style="text-align: center">
                  <th scope="col">Tên</th>
                  <th scope="col">Ghi chú</th>
                  <th scope="col">Loại</th>
                  <th scope="col">Màu sắc</th>
                  <th scope="col">Sửa</th>
                  <th scope="col">Xóa</th>
                </tr>
                </thead>
                <tbody *ngFor="let category of categories|paginate: { itemsPerPage: 7, currentPage: p, totalItems: total }; let i = index;">
                <tr style="text-align: center">
                  <td scope="row"><a href="#" class="question_content">{{category.name}}</a></td>
                  <td>{{category.note}}</td>
                  <td *ngIf="category.status == '1'" style="color: rgba(0,0,0,0.68); size: 3px">Thu</td>
                  <td *ngIf="category.status == '2'" style="color: rgba(0,0,0,0.68); size: 3px">Chi</td>
                  <td>
                    <div class="br" [ngStyle]="{'background': category.color,'height':'5px'}"></div>
                  </td>
                  <td><a class="status_btn" style="background: #60e886" data-bs-toggle="modal" data-bs-target="#staticBackdrop-edit-category" (click)="getCategory(category.id)">Sửa</a></td>
                  <td><a class="status_btn" style="background: #ec82a5" (click)="findAllTransaction(category.id)">Xóa</a></td>
                </tr>
                </tbody>
              </table>
              <div class="dataTables_scroll" id="DataTables_Table_0_paginate"
                   style="margin-left: 850px; margin-top: 35px">
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_part">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="footer_iner text-center">
            <p>2022 © Destroy - <a href="#"> Hủy diệt</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-add-category (onNewCategory)="pushNewCategory($event)"></app-add-category>


<div class="modal fade" id="staticBackdrop-edit-category" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sửa Danh Mục</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategory()">
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type=color value="#ff0000" formControlName="color">
            <input type="text" class="form-control" placeholder="Tên loại" aria-label="Username"
                   aria-describedby="basic-addon1" style="margin-left: 17px" formControlName="name">
          </div>
          <div class="input-group mb-3">
            <input type="textarea" class="form-control" placeholder="Ghi chú" aria-label="Username"
                   aria-describedby="basic-addon1" style="margin-left: 60px; height: 90px;" formControlName="note">
          </div>
          <div class="input-group mb-3" style="margin-top: 30px;margin-left: 15%">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" value="1"
                     formControlName="status">
              <img
                src="https://previews.123rf.com/images/izakowski/izakowski1301/izakowski130100082/17325761-%E7%8F%BE%E9%87%91%E3%81%A7%E9%87%91%E3%81%AE%E8%A2%8B%E3%82%92%E5%B9%B8%E3%81%9B%E3%81%AA%E7%94%B7%E3%82%84%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9%E3%83%9E%E3%83%B3%E3%81%AE%E6%BC%AB%E7%94%BB%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88.jpg"
                style="width: 20px;height: 20px; margin-right: 4px">
              <label class="form-check-label" for="flexRadioDefault1">
                Thu
              </label>
            </div>
            <div class="form-check" style="margin-left: 50px">
              <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" checked value="2" formControlName="status">
              <img
                src="https://banner2.cleanpng.com/20180301/ade/kisspng-united-states-dollar-banknote-cartoon-vector-holding-dollar-5a979df432a946.2963528815198858122075.jpg"
                style="width: 20px;height: 20px; margin-right: 5px">
              <label class="form-check-label" for="flexRadioDefault2">
                Chi
              </label>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn_1 btn btn-primary" style="background: #4694e1; margin-left: 80%; margin-bottom: 15px" data-bs-dismiss="modal" aria-label="Close">Sửa</button>
        </div>
      </form>
    </div>
  </div>
</div>

